.company-values {
  display: flex;
  justify-content: space-between;

  & li::before {
    content: "";
    display: inline-block;
    width: 100%;
    height: 120px;
    background-color: #f5f4fa;
    border-radius: 4px;
    margin-bottom: 30px;
    background-repeat: no-repeat;
    background-image: url(../images/antenna.svg);
    background-position: center;
  }

  & li:nth-child(2)::before {
    background-image: url(../images/clock.svg);
  }
  & li:nth-child(3)::before {
    background-image: url(../images/diagram.svg);
  }

  & li:nth-child(4)::before {
    background-image: url(../images/astronaut.svg);
  }

  & li:not(:last-child) {
    margin-right: 30px;
  }
}

.description {
  display: inline-block;
  margin-top: 0;
}

.priority {
  padding-bottom: 0px;
}
