.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  transition: all 250ms linear;
  overflow-y: scroll;
}

.modal-window {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 528px;
  min-height: 581px;
  background-color: $primary-white-color;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  padding: 40px;
}

@media screen and (min-width: 480px) and (max-width: 1199px) {
  .modal-window {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 450px;
    min-height: 609px;
  }
}

@media screen and (min-width: 320px) and (max-width: 480px) {
  .modal-window {
    position: fixed;
    width: 100%;
    max-width: 450px;
    min-height: 609px;
  }
}

.modal-close-button {
  display: block;
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #ffffff;
  border: 2px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;

  &:hover,
  &:focus {
    outline: none;
    transform: scale(1.2);
  }
}

.close-icon {
  width: 11px;
  height: 11px;
  fill: black;
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
