.logo {
  display: flex;
  // flex: row;
  font-family: Raleway, sans-serif;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.2;
  color: $effect-color;

  &.studio {
    color: #212121;
  }
}

.footer .studio {
  color: $primary-white-color;
}
