.section-title {
  color: $title-text-color;
  margin-top: 0;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.15em;
  text-transform: uppercase;

  .company & {
    margin-bottom: 10px;
  }

  .company-values & {
    font-weight: bold;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
  }

  .directions & {
    margin-bottom: 50px;
  }

  .company-directions & {
    width: fit-content;
    color: $primary-white-color;
    margin: 27px 0;
  }

  .footer &,
  .subscribe & {
    margin-left: 0;
    margin-right: auto;
    margin-top: 0;
    margin-bottom: 20px;
    text-align: left;
    color: $primary-white-color;
  }
}

@media screen and (min-width: 320px) {
  .company.section-title {
    max-width: 480px;
    text-align: center;
    margin-bottom: 10px;
  }
}

@media screen and (min-width: 768px) {
  .company.section-title {
    text-align: left;
  }
}
// @media screen and (min-width: 768px) {
//   .company.section-title {
//     text-align: left;
//   }
// }
