.section-title {
  color: $title-text-color;
  margin-top: 0;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.15em;
  text-transform: uppercase;

  .company & {
    margin-bottom: 10px;
  }

  .company-values & {
    font-weight: bold;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
  }

  .directions & {
    margin-bottom: 50px;
  }

  .company-directions & {
    width: fit-content;
    color: $primary-white-color;
    margin: 27px 0;
  }
  .footer &,
  .subscribe & {
    margin-left: 0;
    margin-right: auto;
    margin-top: 0;
    margin-bottom: 20px;
    color: $primary-white-color;
  }
}

@media screen and (min-width: 320px) and (max-width: 1999px) {
  .footer .section-title,
  .subscribe.section-title {
    text-align: center;
  }

  .footer.section-title {
    display: block;
    padding-top: 0;
    padding-bottom: 20px;
    margin: 0 auto;
  }
}

@media screen and (min-width: 320px) and (max-width: 768px) {
  .company.section-title {
    text-align: center;
    margin-bottom: 10px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .company.section-title {
    text-align: left;
    margin-top: 5px;
  }
}

@media screen and (min-width: 1200px) {
  .footer .section-title,
  .subscribe.section-title {
    text-align: left;
    margin-top: 12px;
  }
}
